<!-- @author: voe -->
<!-- a modal that is rendered when the user wants to add the attendance -->

<div class="modal" id="attendanceInputModal">
  <div class="modal-dialog">
    <div class="modal-content static">
      <div class="modal-header">
        <h2 id="attendanceTitle" class="modal-title center"></h2>
      </div>
      <div class="modal-body">
        <% statuses = ['present', 'tardy', 'absent']; %>
        <%= form_tag("setAttendance") do %>

          <%= hidden_field(:classroom, :id) %>
          <input id="date-specifier" type="hidden" name="date">

          <table class="table table-striped table-condensed">
            <thead>
              <th>name</th>
              <th>status</th>
            </thead>
            <tbody>
              <% for student in @classroom.students %>
                <tr>
                  <td><%= label_tag 'name', student.user.identifier %></td>
                  <td>
                    <select name=<%="attendance[" + student.id.to_s + "]" %> class="attendance-selector">
                      <option value="">Please select</option>
                      <option value="0" selected="selected">present</option>
                      <option value="1">tardy</option>
                      <option value="2">absent</option>
                    </select>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <div>
            <%= submit_tag("submit attendance") %>
          </div>

        <% end %>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="toggleAttendanceModal('#{day.to_s}')">Close</button>
      </div>
    </div>
  </div>
</div>