<!-- @author: voe -->
<!-- patial that contains the attendance content for teachers -->

<table class="table table-striped table-condensed attendance-table">
	<thead>
		<th>name</th>
		<% for day in Attendance.get_week_array(Date.current) %>
			<th><%= link_to day.to_s, '#', onclick: "toggleAttendanceModal('#{day.to_s}', '#{@classroom.id}')" %></th>
		<% end %>
	</thead>
	<tbody>
		<% for student in @classroom.students %>
			<tr>
				<td><%= student.user.identifier %>, <%= student.user.first_name %></td>
				<% row = Attendance.get_week_for_student(student, @classroom, Date.today()) %>
				<% for day in Attendance.get_week_array(Date.today()) %>
					<% has_value = false %>
					<% for attendance in row %>
						
						<% if attendance.date == day %>
							<% has_value = true %>
							<td><%= attendance.get_status() %></td>
						<% end %>
					<% end %>
					<% if has_value == false %>
						<td>-</td>
					<% end %>
				<% end %>
			</tr>
		<% end %>
	</tbody>		
</table>

<%= render "classrooms/partials/teacher/attendance_input_modal" %>