<div class="modal" id="gradesInputModal">
  <div class="modal-dialog">
    <div class="modal-content static">
      <div class="modal-header">
        <h2 id="gradesTitle" class="modal-title center"></h2>
      </div>
      <div class="modal-body">
        <%= form_tag("setGrades") do %>

          <%= hidden_field(:classroom, :id) %>
          <input id="assignment-specifier" type="hidden" name="assignment">

          <table id="grades-table" class="table table-striped table-condensed">
            <thead>
              <th>Name</th>
              <th>Grade</th>
            </thead>
            <tbody>

              <!-- This is generated in the Javascript -->
              <% for student in @classroom.students %>
                <tr>
                  <td><%=student.user.last_name%>, <%=student.user.first_name%></td>
                  <td>
                    <input name=<%="grades[" + student.id.to_s + "]" %>
                    class="grades-selector" type="number" name="quantity" min="0">
                  </td>
                </tr>
              <% end %>



            </tbody>
          </table>

          <div>
            <%= submit_tag("Submit grades") %>
          </div>

        <% end %>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default"
        onclick="toggleGradesModal('#{assignment.id}', '#{assignment.name}', '#{@classroom.id}')">Close</button>
      </div>
    </div>
  </div>
</div>