<table class="table table-striped table-condensed attendance-table">
	<thead>
		<th>Name</th>
		<th>Identifier</th>
		<% for assignment in @classroom.assignments %>
			<th>
				<%= link_to assignment.name, '#'%>  <%= link_to 'Edit',
				'#', onclick: "toggleGradesModal('#{assignment.id}, #{assignment.name}')"%>
			</th>
		<% end %>
		<th>Total</th>
	</thead>
	<tbody>
		<% for student in @classroom.students %>
			<tr>
				<td><%= student.user.first_name %>, <%= student.user.last_name %></td>
				<td><%= student.user.identifier %></td>
				<% for assignment in @classroom.assignments %>
					<% submission = assignment.get_submission(student.id) %>
					<% if submission.nil? %>
						<td>N/A</td>
					<% else %>
						<td><%= submission.grade %>/<%= assignment.max_points %></td>
					<% end %>
				<% end %>
				<td><%= student.recv_points(@classroom.id)%>/<%= @classroom.max_points %>,
				<%=student.grade(@classroom.id)%>%</td>
			</tr>
		<% end %>
	</tbody>		
</table>

<%= render "classrooms/partials/teacher/grades_input_modal" %>
