<!-- @author: voe -->
<!-- the subtab menu for a teacher -->

<div class="row sub-tab-menu">
	<div class="col-sm-3 class-label">
		<h1><%= @classroom.name %></h1>
	</div>

	<span id="sub-tabs">
		<%= link_to "#students" do %>
			<div id="students-tab" class="col-sm-2 sub-tab active" onclick="none">
				<h4>students</h4>
			</div>
		<% end %>
		<%= link_to "#assignments" do %>
			<div id="assignments-tab" class="col-sm-2 sub-tab" onclick="toggleTab('assignments')">
				<h4>assignments</h4>
			</div>
		<% end %>
		<%= link_to "#attendance" do %>
			<div id="attendance-tab" class="col-sm-2 sub-tab" onclick="toggleTab('attendance')">
				<h4>attendance</h4>
			</div>
		<% end %>
		<%= link_to "#grades" do %>
			<div id="grades-tab" class="col-sm-2 sub-tab" onclick="toggleTab('grades')">
				<h4>grades</h4>
			</div>
		<% end %>
	</span>
</div>