
<div class="container-fluid background">
	<%= render "layouts/side_admin_menu" %>
	<div class="col-sm-8 menu-center">
		<!-- Search not that simple
		<form>
			<input type="submit" value="Search">
			<input id="query" name="query" type="text">
			<br>
		</form>
		-->
		<%= link_to "New", dashboard_new_path(type: @infoType) %>
	    <% if @infoType == "Classrooms" %>
	    	<table id="tableData" class="table table-hover">
	    		<% @info.each do |classroom| %>
				    <tr>
				  		<td><%= classroom.name %></td>
			      		<td><%= classroom.time %></td>
			      		<td><%= classroom.location %></td>
				  	</tr>
			  	<% end %>
			</table>
	  	<% elsif @infoType === "Students" or @infoType === "Teachers" %>	  		
	  		<table id="tableData" class="table table-hover">
	  			<tr><td>Account ID</td><td>First Name</td><td>Middle Name</td><td>Last Name</td></tr>
		    	<% @info.each do |user| %>
			  		<tr>
			  			<td><%= user.user.account_id %></td>
			      		<td><%= user.user.first_name %></td>
			      		<td><%= user.user.middle_name %></td>
			      		<td><%= user.user.last_name %></td>
			  		</tr>
			  	<% end %>
			</table>
		<% else %>
			<!--Calendar code should be in here-->
	  	<% end %>
	</div>
</div>


