<div class="background">

	<% if current_user.account_type == "Teacher" %>

		<h1>name: <%= @assignment.name %></h1>
		<p>description: <%= @assignment.description %></p>
		<h3>possible points: <%= @assignment.max_points %></h3>
		<h3>due date: <%= formatDate(@assignment.due) %></h3>

		<%= link_to 'Edit Grades', '#', onclick: "toggleGradesModal(#{@assignment.id}, '#{@assignment.name}')"%>

		<table class="table table-striped table-condensed attendance-table">
			<thead>
				<th>Name</th>
				<th>Identifier</th>
				<th>grade</th>
			</thead>
			<tbody>
				<% for student in @assignment.classroom.students %>
					<tr>
						<td><%= student.user.first_name %>, <%= student.user.last_name %></td>
						<td><%= student.user.identifier %></td>
						<% if student.submission(@assignment.id).grade.nil? %>
							<td>not yet graded</td>
						<% else %>
							<td><%= student.submission(@assignment.id).grade %>/<%= @assignment.max_points %></td>
						<% end %>
					</tr>
				<% end %>
			</tbody>		
		</table>

	<% else %>
        <!--test-->
        <h1> student's name: <%= current_user.first_name %></h1>

		<h1>name: <%= @assignment.name %></h1>
		<p>description: <%= @assignment.description %></p>
		<h3>possible points: <%= @assignment.max_points %></h3>
		<h3>due date: <%= formatDate(@assignment.due) %></h3>
		<% if @submission.grade.nil? %>
			<h3>grade: not yet graded</h3>
		<% else %>	
			<h3>grade: <%= @submission.grade %>/<%= @assignment.max_points %></h3>
		<% end %>

		<form id="dropzone" action="/submission/upload" class="dropzone assignment-dropzone" >
			<%= hidden_field_tag(:submission_id, @submission.id) %>
  			<div class="fallback">
    			<input name="file" type="file" multiple />
  			</div>
		</form>

	<% end %>


      <%= form_for(@submission) do |f| %>
          <% if @submission.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(current_user.errors.count, "error") %> prohibited this user from being saved:</h2>

                <ul>
                  <% @submission.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>


          <div class="field">

            <%= f.file_field :file %>
          </div>
          <div>
            <%= f.submit %>
          </div>
      <% end %>

      <% end %>

</div>

<%= render "classrooms/partials/teacher/grades_input_modal" %>
