
<span class="pull-right">
  <button class="btn btn-sm" onclick="toggleModal('newPasswordModal')">
    forgot your password?
  </button>
</span>
<div class="modal" id="newPasswordModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title center">forgot your password?</h2>
      </div>
      <div class="modal-body">
        <h4 class="center">change your password</h4>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		  	<%= devise_error_messages! %>

		  	<div>
		  		<%= f.label :email %><br />
		  		<%= f.email_field :email, autofocus: true %>
		  	</div>

		  	<div>
		  		<%= f.submit "Send me reset password instructions" %>
		  	</div>
		<% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="toggleModal('newPasswordModal')">Close</button>
      </div>
    </div>
  </div>
</div>