
<span class="pull-right">
  <button class="btn btn-sm" onclick="toggleModal('newUserModal')">
    new user?
  </button>
</span>
<div class="modal" id="newUserModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title center">sign up</h2>
      </div>
      <div class="modal-body">
        <h4 class="center">enter your username and password</h4>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          <div>
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div>
            <%= f.label :identifier %><br />
            <%= f.text_field :identifier %>
          </div>

          <div>
            <%= f.label :password %> 
            <% if @validatable %>
              <i>(<%= @minimum_password_length %> characters minimum)</i>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <div>
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>

          <div>
            <%= f.submit "Sign up" %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="toggleModal('newUserModal')">Close</button>
      </div>
    </div>
  </div>
</div>