<%= form_tag "/users/update_password", :id => "edit-password-form" do -%>
  <div class="edit-input-fields">
    <span class="spacing"><div class="col-sm-3">Current:</div> <%= password_field_tag 'user[current_password]', nil, class: 'masked_input_field' %></span>
    
    <span class="spacing"><div class="col-sm-3">New:</div> <%= password_field_tag "user[password]", nil, class: 'masked_input_field' %></span>
    
    <span class="spacing"><div class="col-sm-3">Re-type New:</div> <%= password_field_tag "user[password_confirmation]", nil, class: 'masked_input_field' %></span>
  </div>

  <hr class="spacing">

  <%= submit_tag "Save Changes", :class => 'btn-primary btn', :id => 'save-cancel-password' %>
<% end -%>